* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav_container {
  display:  flex;
  
  font-size: 24px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 40px;
  padding: 8px 16px; 
  background-color: gray;
}
.nav_controller {
  display:  flex;
  gap: 8px;
}